/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
      
      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }
      
      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }
      
      #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 5px 11px 0px 11px;
      }
      
      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

body {
  margin: 50px;
  text-align: center;
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: 'Syne Mono', monospace;
}

div {
  color: white;
}

.impact {
  max-width: 800px;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.table td {
  border-top: 0;
}

.bubble1 {
  text-align:center;width:100px; height: 100px; border:2px solid gray; border-radius: 50%; display:inline-block;
}

.bubble2 {
  text-align:center;width:100px; height: 100px; border:2px solid gray; border-radius: 50%; background-size: cover;display:inline-block;
}

.bubble3 {
  text-align:center;width:225px; height: 225px; border:2px solid gray; border-radius: 50%; background-color: #db9200;display:inline-block;
}

.bubble4 {
  text-align:center;width:175px; height: 175px; border:2px solid gray; border-radius: 50%; background-size: cover;display:inline-block;
}

.ptext1 {
  vertical-align: middle;font-size:65px; text-align: center;
}

.ptext2 {
  vertical-align: middle;font-size:65px; text-align: center; margin-top:10%;margin-bottom:0;
}

.ptext3 {
  vertical-align: middle;font-size:40px; text-align: center; margin-top:10%;margin-bottom:0; color: ;
}

.ptext4 {
  
}
